<div class="deck-name-form">
    <h2 mat-dialog-title>Deck management</h2>
    
    <mat-dialog-content class="translationcard inputfield">
        <mat-form-field>
            <input type="text"
                placeholder="Name an existing deck or a new one"
                matInput [matAutocomplete]="auto"
                [formControl]="optionCtrl">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close(false)">Close</button>
        <button mat-raised-button color="primary" id="open-deck" class = "disabledbutton" (click)="openDeck()">Open</button>
        <button mat-raised-button color="primary" id="rename-deck" (click)="renameDeck()">Rename</button>
        <button mat-raised-button color="primary" id="create-deck" (click)="createDeck()">Create</button>
        <button mat-raised-button color="primary" id="delete-deck" class = "disabledbutton" (click)="deleteDeck()">Delete</button>
    </mat-dialog-actions>

</div>
