<div class="edit-form">
    <h2 mat-dialog-title>Edit translation</h2>
    
    <mat-dialog-content [formGroup]="form"  class="translationcard">
    <div>
        <mat-form-field class="phrase">
            <input matInput
                placeholder="Source text"
                formControlName="sourcePhraseControl">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="phrase">
            <input matInput
                placeholder="Translation text"
                formControlName="translatedPhraseControl">
        </mat-form-field>
    </div>
        <!--mat-form-field>
            <input matInput [matDatepicker]="myDatepicker"
                   formControlName="releasedAt">
            <mat-datepicker-toggle matSuffix
                                   [for]="myDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field-->
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Close</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>

</div>
