.menubar{
   margin-left: 10px;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.notes{
    font-size: smaller;
    padding: 10px;
}

.notes-dark{
    font-size: smaller;
    padding: 10px;
    color:white;
}

.dark-mode {
    background-color: var(--background-color-dark);
}