
:root {
    --background-color-light:white;
    --text-color-light: rgb(73, 73, 75);
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Quattrocento Sans';
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

button{
    background-color:lightgrey;
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
    min-width:80px;
}

.title {
    padding: 10px;
    vertical-align:-4px;
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: bold;
}

.count {
    padding: 10px;
    font-family: 'Quattrocento Sans';
    font-size: 20px;
}

.disabledbutton{
    background-color:rgb(241, 241, 241);
    color:rgb(143, 132, 132);
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
}

.toolsarea{
    background-color:rgb(241, 241, 241);
    color:rgb(30, 29, 29);
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
}

.button{
    font-family: 'Quattrocento Sans';
    font-size: 20px;
}

.button:hover{
    background-color: lightblue;
}

.phrase{
    width:100%;
}

.translationcard {
    padding: 4px;
    margin:7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(250, 242, 231);
}