
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{
    background-color:lightgrey;
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
    min-width:80px;
}

.title {
    padding: 10px;
    margin-top: 40px;
}

.count {
    padding: 10px;
    font-family: courier;
    color:rgb(30, 29, 29);
    font-size: medium;
}

.disabledbutton{
    background-color:rgb(241, 241, 241);
    color:rgb(143, 132, 132);
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
}

.toolsarea{
    background-color:rgb(241, 241, 241);
    color:rgb(30, 29, 29);
    padding: 10px;
    border-radius:7px;
    margin: 4px;
    border: 0;
}

.button:hover{
    background-color: lightblue;
}

.phrase{
    width:100%;
}

.sourcetext {
    color:black;
}

.translatedtext {
    color: chocolate;
}

.translationcard {
    padding: 4px;
    background-color: rgb(250, 242, 231);
    margin:7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


