/* Define standard variables and values for website */

$headerbgcolor:  white;
$bodyfontsize: 18px;
$headerfontsize: 22px;

/* Use the variables */
body {
  margin: 30;
  padding: 30;
  font-size: $bodyfontsize;
}

header {
  font-size: $headerfontsize;
}

.expand {
  min-width: 45px;
  text-align: center;
}

.supportbutton {
    display:inline-block;
    font-size:14px;
    padding:4px 10px;
}

.supportbutton-light {
    background-color: lightgray;
    color: #000;
    &:hover {
      background-color: #000;
      color: #fff;
    }
}

.supportbutton-dark {
  background-color: rgb(0, 107, 119);
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

// just use supportbutton-dark for the dark mode version
.deckbutton {
  background-color: #ebc2a9;
  color:black;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.maxmincontrol{
  padding: 0;
  border: 0;
  font-size:x-small;
}

.maxmincontrol-light{
  background-color: $headerbgcolor;
  color:blue;
}

.maxmincontrol-dark{
  background-color: black;
  color:rgb(0, 225, 255);
}

app-test{
  margin-left:10px;
}

