<header>
    <div class="title"></div>
    <span class="title">Language Learn</span>
    <span class="count">{{numDisplayed}}/{{numTotal}}</span>
    <span>
        <button type="button" class="deckbutton supportbutton" (click)="onDeck()">{{deck}}</button>
        <button type="button" class="deckbutton supportbutton" (click)="onToggleDarkMode()">{{(darkMode?"Dark mode":"Light mode")}}</button>
    </span>
</header>
<body>
    <section>
        <span>
            <button class="maxmincontrol" (click)="displayTestTools =!displayTestTools">
                <p class="expand" *ngIf="!displayTestTools; else elseBlock">Show test tools</p>
                <ng-template #elseBlock>
                    <p class="expand">&lt;&lt;</p>
                </ng-template>
            </button>
            <app-test 
            (creationTimeBackEvent)="onCreationTimeBack($event)"
            (creationTimeForwardEvent)="onCreationTimeForward($event)"
            (testedTimeBackEvent)="onTestedTimeBack($event)"
            (testedTimeForwardEvent)="onTestedTimeForward($event)"
            (oldFileLoadEvent)="onOldFileLoad()"
            *ngIf="displayTestTools"></app-test>
        </span>
    </section>
    <section>
        <div *ngFor="let translation of translationList">
            <app-translation *ngIf="!translation.done"  [translation]="translation.translation" (deletionTranslationEvent)="onDeleteTranslation($event)"></app-translation>
        </div>
    </section>
    <section>
        <button type="button" class="supportbutton" (click)="onDone()">Done</button>
        <button type="button" class="supportbutton">Copy</button>
        <button type="button" class="supportbutton" (click)="onAdd()">Add</button>
    </section>
    
    <div id="loading">
        <mat-spinner style="position: fixed; top: 50%; left: 50%;" mode="indeterminate"></mat-spinner>
    </div>

</body>