<header>
    <p>Language Learn</p>
</header>
<body>
    <section>
        <span>
            <button class="maxmincontrol" (click)="displayTestTools =!displayTestTools">
                <p class="expand" *ngIf="!displayTestTools; else elseBlock">Show test tools</p>
                <ng-template #elseBlock>
                    <p class="expand">&lt;&lt;</p>
                </ng-template>
            </button>
            <app-test (additionTranslationEvent)="onAddTranslation($event)" *ngIf="displayTestTools"></app-test>
        </span>
    </section>
    <section>
        <app-translation *ngFor="let translation of translations" [translation]="translation" (deletionTranslationEvent)="onDeleteTranslation($event)"></app-translation>
    </section>
    <section>
        <button type="button" class="supportbutton" (click)="onDone()">Done</button>
        <button type="button" class="supportbutton">Copy</button>
    </section>
</body>