$font-list: Helvetica, sans-serif;

body {
 font: 100% $font-list;
}

div {
    padding: 3px;
    background-color: blanchedalmond;
    margin:7px;
}

.item:hover{
    background-color:bisque;
}

.translation {
    color: chocolate;
}