button {
    margin-left:6px;
    padding: 0px;
    background-color: white;
    min-width:60px;
}

.sourcetext {
    color:black;
}

.sourcetext-dark {
    color:rgb(255, 245, 235);
}

.translatedtext {
    color:chocolate;
}

.translatedtext-dark {
    color:rgb(140,210,235);
}

.datetime {
    --datetime-background-color-light:rgb(255, 245, 235);
    --datetime-background-color-dark:rgb(0, 10, 20);
    
    --datetime-color-light:var(--text-color-light);
    --datetime-color-dark:rgb(255, 245, 235);
    
    background-color: var(--datetime-background-color);
    color: var(--datetime-color);
}

.translationcard {
    padding: 4px;
    margin:7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(250, 242, 231);
}

.dark-mode {
    background-color: var(--background-color-dark);
}


