$font-list: Helvetica, sans-serif;

body {
 font: 100% $font-list;
}

button {
    margin-left:6px;
    padding: 0px;
    background-color: white;
    min-width:60px;
}

.datetime {
    background-color: rgb(255, 245, 235);
}