<div [ngClass]="darkMode ? 'dark-mode': ''"  class="translationcard" (mouseover)="setFocus(true);" (mouseleave)="setFocus(false);">
    <div style="height:20px" class="source">

        <span [ngClass]="darkMode ? 'sourcetext-dark': 'sourcetext'">{{translation.sourcePhrase}}</span>
        <span *ngIf="translationfocus">
            <button (click)="openEditDialog()">Edit</button>
            <button (click)="openDeleteDialog()">Delete</button>
            <button class="datetime">Created: {{
                translation.createdDate.getDate()+"-"+(translation.createdDate.getMonth()+1)+"-"+translation.createdDate.getFullYear()
            }}</button>
            <button class="datetime">Last done: {{
                (translation.lastTestedDate.getTime() <= 1) ? "Untested" : translation.lastTestedDate.getDate()+"-"+(translation.lastTestedDate.getMonth()+1)+"-"+translation.lastTestedDate.getFullYear()
            }}</button>
        </span>

    </div>
    <div style="height:20px">
        <span [ngClass]="darkMode ? 'translatedtext-dark': 'translatedtext'">{{translation.translatedPhrase}}</span>
    </div>
</div>
